<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置 -->
<configuration>
	<!-- 1. properties: 属性配置 
				resource: 从类路径下引入属性文件
				url:      从网络路径或者是磁盘路径引入属性文件
	-->
	<properties resource="db.properties" >
		<property name="password" value="0329"/>
	</properties>
	
	<!-- 2.settings: 包含了很多影响MyBatis运行行为的设置项 
			setting: 一个具体的设置项
				name: 设置项的名字
				value: 设置项的取值
	 -->
	 
	 <settings>
	 	<!-- 映射下划线到驼峰命名 -->
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 	<!-- 开启延迟加载 -->
	 	<setting name="lazyLoadingEnabled" value="true"/>
	 	<!-- 设置加载的属性是按需还是全部 -->
	 	<setting name="aggressiveLazyLoading" value="false"/>
	 </settings>
	 
	 <!-- 3. typeAliases : 别名处理 
	 			typeAlias: 为单个类型取别名
	 				type: 执行java的全类名
	 				alias: 指定别名  ，如果不指定，默认的别名就是类名，不区分大小写.
	 		    package: 为指定的包下的所有的类取默认的别名,如果别名冲突，可使用@Alias注解来具体指定别名. 
	 		    
	 -->
	 <typeAliases>
	 	 <!-- <typeAlias type="com.atguigu.mybatis.beans.Employee" alias="emp"/>  -->
	 	 <package name="com.atguigu.mybatis.beans"/>
	 	 
	 </typeAliases>


	<!-- 
		4. environments: 环境们
			environment: 具体一个环境配置
				id: 环境的标识
				<transactionManager>: 事务管理器
					JDBC: JdbcTransactionFactory
					MANAGED :ManagedTransactionFactory
					最终: 事务管理交给Spring来完成. 
				<dataSource>:数据源
					UNPOOLED: 不使用连接池
					POOLED:使用连接池    PooledDataSourceFactory
					JNDI: 从web应用服务器获取数据源. 
					最终: 数据源交给Spring进行管理. 
	 -->
	<environments default="development">
	
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		
		<environment id="test">
			<transactionManager type=""></transactionManager>
			<dataSource type=""></dataSource>
		</environment>
	</environments>
	<!-- 5. mappers: 引入SQL映射文件  
				<mapper>: 引入单个的SQL映射文件
				<package>: 批量引入指定包下的SQL映射文件
						   要求: SQL映射文件与Mapper接口必须同名同位置. 
	-->
		<mappers>
			<!-- <mapper resource="EmployeeMapper.xml"/> -->
			<package name="com.atguigu.mybatis.dao"/>
			
		</mappers>
	
</configuration>